* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 6em;
}

.container-row {
    display: flex;
    flex-direction: column;
}

.secret-page {
    align-self: flex-end;
}